.monedas{
    width: 500px;
    height: auto;
    border: 1px solid black;
}
.nombre{
    width: 100px;
    height: auto;
    border: 1px solid black;
}

.valor{
    width: 100px;
    height: auto;
    border: 1px solid black;
}