<div class="padre">
  <h1>CONVERSOR DE DIVISAS</h1>
  <h3>IMPORTE</h3>
  <input
    type="number"
    placeholder="{{ cambio === 0 ? '' : cambio }}"
    [(ngModel)]="cambio"
  />
  <h3>ELIGE LA MONEDA</h3>
  <div class="padre_hijo">
    <select
      class="selector"
      *ngIf="exchanges"
      (change)="cambioMoneda($event)"
      [(ngModel)]="monedaPrincipal"
    >
      <option *ngFor="let options of exchanges" [value]="options.name">
        {{ options.name }}
      </option>
    </select>
  </div>
  <div class="monedas" *ngIf="exchanges">
    <div class="monedas_size" *ngFor="let coins of exchanges">
      <img class="bandera" src="../../../assets/monedas/{{coins.name}}.png"/>
      <div class="nombre">{{ coins.name }}</div>

      <div class="valor">{{ (coins.value * cambio).toFixed(3) }}</div>
    </div>
  </div>
</div>
