<div class="cuadros">
    <label for="filas">Filas:</label>
    <input type="number" id="fila" [(ngModel)]="filas">
  
    <label for="columnas">Columnas:</label>
    <input type="number" id="columna" [(ngModel)]="columnas">

    <button (click)="pintarTabla($event)">EMPEZAR JUEGO</button>
</div>

<div class="tabla" *ngIf="tabla">
  <table>
      <tr *ngFor="let fila of filasArray; let i = index">
          <td *ngFor="let columna of columnasArray; let j = index">
              <div><img [src]="imagenSrc[i][j]" (click)="cambiarImagen(i, j)"></div>
          </td>
      </tr>
  </table>

</div>
<div class="medio">
<div class="contador">Llevas {{contador}} clicks</div>
<button class="reset" (click)="resetearJuego()">Resetear Juego</button>
</div>